---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import TableOfContents from "../../components/TableOfContents.astro";

export async function getStaticPaths() {
    const pageEntries: CollectionEntry<"pages">[] =
        await getCollection("pages");

    return pageEntries.map((entry) => ({
        params: { slug: entry.data.route },
        props: { entry },
    }));
}

interface Props {
    entry: CollectionEntry<"pages">;
}

const { entry } = Astro.props;
const { Content, headings } = await entry.render();
---

<BaseLayout
    title={`${entry.data.title} — Cangjie UK Team`}
    description="Technical write-ups and resources from the Cangjie UK Team."
    isBlogPage={true}
>
    <main class="blog-main">
        <div class="blog-main-inner">
            <div class="md-window">
                <article id="blog-content" class="blog-content">
                    <Content />
                </article>
            </div>
            <div class="md-content-links">
                <div class="blog-info">
                    <h3>Table of Contents</h3>
                    <TableOfContents
                        headings={headings}
                        contentSelector="#blog-content"
                    />
                </div>
            </div>
        </div>
    </main>
</BaseLayout>
